<!DOCTYPE html>
<html>

<head>
    <title>update Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <%- include("components/nav", {cpage:cpage}) %>
        <main class="main">
         
            <form action="/update" method="post">
              
                <% for (let item of dbusers){ %>
                    <% if(item.name == loginname){ %>
                <label for="ous">current username</label><input type="text" name="ous" id="ous" value="<%= item.username %>"><br>
                <label for="nus">new username</label><input type="text" name="us" id="nus" value="<%= item.username %>"><br>
                <label for="nps">new password</label><input type="password" name="nps" id="nps"><br>
                <label for="nname">new name</label><input type="text" name="nname" id="nname" value="<%= item.name %>"><br>
                <% } %>
                <% } %> 
                <button>send</button>
            </form>
         
            
        </main><br><br>
     
      
        <footer></footer>
    </div>
</body>

</html>