body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  display: flex;
  align-items: center;
}

.nav-item {
  padding-left: 2rem;
}

.nav-link {
  color: rgb(90, 90, 255) !important;
}

.active a {
  color: blue !important;
  font-weight: 700;
}

.nav-item a:hover {
  color: rgb(35, 26, 153) !important;
  border-bottom: 1px solid rgb(35, 26, 153);
}

.rtl {
  direction: rtl !important;
  text-align: right !important;
}
.mainPage{
  font-size: 2rem;
  color: darkred;
}
.main1{
  max-width: 40vw;
}
.purchase{
  width: 15vw;
}
.orderedTable{
  color: black;
 
  margin-left: 1vw;
}
.orderedTable th:nth-child(1){
  width: 30vw;
}
.orderedTable tr:nth-child(6){
  width: 5vw;
  font-size: 1rem;
  
}
.orderedTable th{
  font-size: 2rem;
  width: 8vw;
}
.orderedTable tr{
  height: 5vh;
  border: 1px solid black;
  font-size: 1.5rem;
}
#totalCharge{
  direction: rtl;
  width: 15vw;
  font-size: 1.5rem;
 margin-left: 10vw;
 margin-top: 10vh;
}